/* Formatting */
* {
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    color: #333;
}

/* nav-bar styling */
.nav-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(106, 122, 147, 0.8);
    box-shadow: 0 2px 10px black;
    z-index: 1000;
}
.main {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333; 
    text-decoration: none;
    letter-spacing: 1px;
}
.nav-links {
    display: flex;
    gap: 2rem;
}
.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: whitesmoke;
}

.mobile-menu-btn {
    display: none;
}

/* header text styling */
h1 {
    display: block;
    font-size: 3.5em;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    justify-content: center;
    text-align: center;
}

/* header background styling */
header{
    background: white;
    box-shadow: 0 4px 15px black;               
    padding: 100px 100px;               
    border-radius: 0px;         
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    backdrop-filter: blur(5px); 
    width: 100%;
    height: 100%;
    justify-content: center; 
    text-align: center;
}

/* header image styling */
.header {
    height: 300px;
    background-image: url("/images/Kahan.3.webp"); 
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: grid;  
    text-align: center;
    border-radius: 10px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
}

/* section 2 styling */
.static-content {
    text-align: center;
    padding: 40px 20px;
    color: black;
    text-shadow: 2px 2px 4px rgb(106, 122, 147);
}

/* button styling */
.static-content button {
    background: rgb(106, 122, 147);
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 20px;
}
.form-container .btn {
    background: rgb(106, 122, 147);
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px;
}
.form-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.form-container input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow: clip !important
}
.form-container label {
    font-weight: bold;
    margin-top: 10px;
}
label {
    cursor: default;
}
div {
    display: block;
    unicode-bidi: isolate;
}
button {
    appearance: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

/* section 3 styling */
.Stick-Season {
    text-align: center;
    background-color: rgb(106, 122, 147);
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "title title"
    "image caption";
}

/* section 3 image styling */
.Stick-Season img {
    width: 100%; 
    border-radius: 20px;
    box-shadow: 0 4px 15px black;  
    grid-area: image;
}

/* section 3 caption styling */
.Stick-Season .caption {
    float: right;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    grid-area: caption;
    display: grid;
}
.Stick-Season h2 {
    grid-area: title;
}

/* image hover */
.Stick-Season img:hover { 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    backdrop-filter: blur(5px);  
    transform: translateY(-10px);
}

/* section 4 styling */
.Albums {
    text-align: center;
    padding: 40px 20px;
    background-color: whitesmoke;
    color: black;
    text-shadow: 2px 2px 4px rgb(106, 122, 147);
}

/* section 4 image styling */
.Albums img {
    width: 25%;
    border-radius: 20px;
    box-shadow: 0 4px 15px black; 
}
.caption2 {
    color: black;
    text-shadow: 2px 2px 4px rgb(106, 122, 147);
}

/* image hover */
.Albums img:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    backdrop-filter: blur(5px);  
}

/* section 5 styling */
.Forever {
    text-align: center;
    background-color: rgb(106, 122, 147);
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "title title"
    "image caption";
}

/* section 5 image styling */
.Forever img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 15px black;  
    grid-area: image;
}
/* section 5 caption styling */
.Forever .caption {
    float: right;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    grid-area: caption;
    display: grid;
}

/* section 5 title styling */
.Forever h2 {
    grid-area: title;
}

/* image hover */
.Forever img:hover { 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    backdrop-filter: blur(5px);  
    transform: translateY(-10px);
}

/* section 6 styling */
.Collaborations {
    text-align: center;
    padding: 40px 20px;
    background-color: whitesmoke;
    color: black;
    text-shadow: 2px 2px 4px rgb(106, 122, 147);
}

/* section 6 image styling */
.Collaborations img {
    width: 25%;
    border-radius: 20px;
    box-shadow: 0 4px 15px black;
}

/* image hover */
.Collaborations img:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    backdrop-filter: blur(5px);  
}

/* footer styling */
footer {
    width: 100%;
    background: rgb(106, 122, 147);              
    padding: 10px;                      
    text-align: center;
    color: white;
}

/* Citations Styling */
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    Background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: white;
    Background-color: transparent;
    text-decoration: underline;
}

/* media queries */
@media (max-width: 576px) {
    .grid {
        grid-template-columns: 1fr;
    } 
    section {
        flex: 1 1 100%;
        width: 100%       
    }
    header h1 {
        font-size: 2em;         
    }
}

@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: 70px;
        right: -100%;
        flex-direction: column;
        background: white;
        width: 70%;
        height: 100vh;
        padding: 2rem;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease;
        gap: 1rem;
    }
    
    .nav-links.active {
        right: 0;
    }
    
    .mobile-menu-btn {
        display: block;
    }
}
