.nav-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(106, 122, 147, 0.8);
    box-shadow: 0 2px 10px black;
    z-index: 1000;
}
.main {
    font-size: 1.8rem;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 1px;
}
.nav-links {
    display: flex;
    gap: 2rem;
}
.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: whitesmoke;
}

.mobile-menu-btn {
    display: none;
}